version: '3.8'

services:
  postgres:
    image: postgres:18
    container_name: postgres_container
    environment:
      POSTGRES_USER: ssodev
      POSTGRES_PASSWORD: sso2022ok
      POSTGRES_DB: ssotest
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    networks:
      - app_network  # Connect services

networks:
  app_network:
    driver: bridge

volumes:
  postgres_data:
    driver: local